.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 8px;
    @media (max-width: 769px) {
        grid-template-columns: 1fr;
        max-width: 100%;
    }
}